nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
    height: 93px;
    width: 100vw;
}

.navbar-links {
    display: flex;
    justify-content: space-evenly;
}

.navbar-img {
    margin-left: 25px;
    width: 160px;
}

.navbar-link a {
    color: #212121;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 400;
    margin-right: 70px;
    padding: 5px;
    text-decoration: none;
}

.navbar-link a:hover {
    border-bottom: 3px solid #212121;
}