.pokemon-card {
    background-color: #46D7AB;
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    height: 110px;
    padding: 10px;
    width: 90%;
  }
  
  .grass {
    background-color: #000000;
  }
  
  .fire {
    background-color: red;
  }
  
  .pokemon-heart-btn {
    background-color: transparent;
    border: none;
  }
  
  .pokemon-id {
    color: rgba(255, 255, 255, 0.50);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
  }
  
  .pokemon-image-container {
    text-align: end;
  }
  
  .card-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
  }
  
  .card-top h3 {
    color: #FFFFFF;
    text-transform: capitalize;
  }
  
  .pokemon-type {
    align-items: center;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 38px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    margin-top: 5px;
    text-align: center;
    text-transform: capitalize;
  }
  
  .pokemon-type-text {
    text-transform: capitalize;
  }