/*----------smartphone-----------*/
@media only screen and (max-width: 767px) {
    nav {
        flex-direction: column;
    }

    .navbar-link, .navbar-link-active {
        display: none;
    }

    .home-flex {
        align-content: space-around;
        flex-direction: column;
    }

    .home-img img {
        width: 85vw;
    }

    .home-text, .home-title {
        width: 90vw;
    }

    .home-title {
        font-size: 40px;
    }

    .home-btn {
        width: 50vw;
    }

    .home-btn-resp {
        align-items: flex-end;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .pokedex-grid {
        grid-template-columns: repeat(2, 0.5fr);
    }

    .pokedex-container {
        gap: 0px;
    }

    .pokemon-card {
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 162px;
    }

    .pokemon-heart-btn {
        display: none;
    }

    .pokemon-name {
        font-size: 16px;
        margin-left: 5px;
    }

    .pokemon-image-container {
        width: 50%;
    }

    .searchbar-text {
        font-size: 30px;
    }

    .searchbar-text {
        display: none;
    }

    .dropdown-type-container {
        align-items: center;
        flex-direction: column;
    }

    .dropdown-attack {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}


/*---------tablet-----------*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    nav {
        flex-direction: column;
    }
    
    .navbar-link, .navbar-link-active {
        display: none;
    }
    
    .home-flex {
        align-content: space-around;
        flex-direction: column;
    }
    
    .home-img img {
        width: 85vw;
    }
    
    .home-text, .home-title {
        width: 90vw;
    }
    
    .home-title {
        font-size: 40px;
    }
    
    .home-btn {
        width: 50vw;
    }
    
    .home-btn-resp {
        align-items: flex-end;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    
    .pokedex-grid {
        grid-template-columns: repeat(3, 0.5fr);
    }
    
    .pokedex-container {
        gap: 0px;
    }
    
    .pokemon-card {
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 162px;
    }
    
    .pokemon-heart-btn {
        display: none;
    }
    
    .pokemon-name {
        font-size: 16px;
        margin-left: 5px;
    }
    
    .pokemon-image-container {
        width: 50%;
    }
    
    .searchbar-text {
        font-size: 30px;
    }
    
    .searchbar-text {
        display: none;
    }

    .dropdown-type-container {
        flex-direction: column;
    }
    
    .dropdown-type-container {
        align-items: center;
        flex-direction: column;
    }

    .dropdown-attack {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}