.searchbar {
    display: flex;
    justify-content: center;
}

.searchbar input {
    background-color: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 40px;
    box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.1);
    margin-top: 35px;
    outline: 0;
    padding: 15px;
    width: 75vw;
}

.searchbar ::placeholder {
    font-family: 'Open Sans';
    font-size: 16px;
}

.searchbar-text {
    color: #282828;
    font-family: 'Inter';
    font-size: 35px;
    font-weight: 400;
    margin-top: 80px;
    text-align: center;
}